#!/bin/bash
# Copy the MS calibrator data 
# Download the data
id=`python /home/ubuntu/astrocompute/pipeline/scripts/get_band.py`

cd
aws s3 ls s3://lofar-elais-n1/${id}/ | awk -v id="$id" '{print "http://s3.amazonaws.com/lofar-elais-n1/"id"/"$4}' > data_list.txt
/home/ubuntu/astrocompute/pipeline/scripts/parallel_download.sh /home/ubuntu/data_list.txt
touch /mnt/scratch/data/raw/downloaded.txt